body {
  margin: 0;
  font-family: "IBM Plex Mono", system-ui, sans-serif;
  height: 100%;
  font-size: 0.825rem;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

canvas {
  position: fixed;
  right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
